
body {
    background-color: darkgreen;
}

h1 {
    text-align: center;
    color: white;
    font-weight: bolder;
}

h2 { 
    text-align: center;
    color: yellow;
    font-weight: bold;
}

.cards {
    color: black;
    background-color: violet;
    text-align: center;
    border-radius: 8px;
    box-shadow: 5px 5px 10px black;
}

#filtros {
    display: flex;
    justify-content: space-evenly;
}